*.DS_Store
.idea/*
.metadata/*
.bundle/
log/*
tmp/*
gen/*
coverage/*
coverage.data
rerun.txt
!.gitkeep
*.swp
*.rdb
questions.png

output/*
features/support/env.rb
target/*
test_report.html
/*.html
/screenshots
manual_helper.rb
allure/*

